body {
    font-family: Arial, sans-serif;
    
  }
  
  .search-form {
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #6244BB;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
  
  .photo-card {
    width: calc(25% - 10px);
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .photo-card img {
    max-width: 100%;
    height: auto;
  }
  
  .info {
    margin-top: 10px;
  }
  .load-btn-div{
    display: flex;
    justify-content: center
  }
  .load-more {
    
    width: 90%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .load-more.hidden {
    display: none;
  }